<!doctype HTML5>
<html lang="en">
<head>
<meta charset="urf-8">
<title>our first CSS</title>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head><div id="background">
        <!-- <img src="./img/backgroundpic.jpeg">  -->

    </div>  

	<body>
	
	<!-- <img src="./img/backgroundpic.jpeg"> -->
		<div id="ourfirstDiv">
			<div id="oursecondDiv">
				<ul id="ourlist">
				<div id="cc" name="cc" title="coin_changer">
						ENTER CHANGE
				<form method = 'post' action = '/index'>

				<input type = 'number' name = 'amount'>
	
				<input type = 'submit'>
				  </form> 
				  </div>

					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">about</a></li>

  					<li><a href="https://www.youtube.com/watch?v=8kkUzU9OiDI"display: block;
    				width: 60px;>contact</a></li>
    				<li><a href="https://www.youtube.com/watch?v=8kkUzU9OiDI"display: block;
    				width: 60px;>links</a></li>
    		 		<a href="https://www.google.com/" id="w3-bar-item w3-button">google</a>
      				<a href="http://www.minedminds.org/" id="w3-bar-item w3-button">minedminds</a>
      				<a href="https://stackoverflow.com/" id="w3-bar-item w3-button">stackoverflow</a>
  
    				
   
				 <!-- <div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button">Dropdown</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
  </div>
</div> 
   -->


    				
  
 





<body>

</footer>
&copy;

</html>